@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	background-color: cadetblue;
}
a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  mediumpurple; 
	color:  greenyellow; 
}
a:hover {
	font-size:200%;
	background-color: mediumpurple; 
	color: greenyellow; 
}
